<app-background>
  <h1>Aceptar tutoría</h1>
  <p>
    Una vez un estudiante solicita una tutoría y esta es aceptada por el padre, el sistema
procede a contactar al tutor para solicitar sus servicios. Un tutor puede o no aceptar un
servicio de tutoría. Para aceptar o rechazar una tutoría, el tutor debe hacer lo siguiente:
  </p>
  <ol>
    <li>
      Abrir Notificación, al realizar esta acción se desplegará en pantalla una página con la
      información de la tutoría.
    </li>
    <li>
      Pulsar la opción “Aceptar” en caso de querer aceptar el servicio; en caso contrario,
      pulsar “Rechazar” para que se cancele la solicitud o se busque otro tutor al estudiante.
    </li>
  </ol>
  <p>
    Es importante tener en cuenta que, en caso de no recibir la notificación, o eliminarla,
también se puede acceder a la pantalla de aceptar o rechazar tutoría, por medio de la
opción “solicitudes pendientes” en el menú principal.
  </p>
</app-background>
