<app-background>
  <app-tutorial-item [title]="'Registro de estudiantes'" [link]="videoUrl">
    <p>
      Para un estudiante registrarse en eTutor, una vez tenga acceso a internet en el
móvil donde se encuentra la aplicación descargada e instalada, solo debe hacer
lo siguiente:
    </p>
    <ol>
      <li>
        Abrir la aplicación
      </li>
      <li>
        Pulsar la opción de “Regístrate ya”
      </li>
      <li>
        Seleccionar la opción “Estudiante”
      </li>
      <li>
        Completar el formulario con su información personal
      </li>
      <li>
        Pulsar el botón “Registrarse”
      </li>
    </ol>
    <p>
      A continuación, llegara al correo de su padre una solicitud para que apruebe su
registro. Una vez su padre haya aprobado esta acción, es necesario que el
estudiante confirme el correo electrónico con el que registro su usuario. Para
registrar el correo debe:
    </p>
    <ol>
      <li>
        Abrir el email que envía eTutor a la cuenta de correo con que te registraste.
      </li>
      <li>
        Pulsar el botón de “valida tu correo electrónico”.
      </li>
    </ol>
    <p>
      Listo. Una vez concluya con los pasos anteriores, el usuario podrá ser utilizado
en eTutor.
    </p>
  </app-tutorial-item>
</app-background>
