<app-background>
  <app-tutorial-item [title]="'Contactar estudiante'" [link]="videoUrl">
    <p>
      Una vez se haya agendado la tutoría, y el tiempo restante para que esta inicie sea menor
      a 12 horas, el tutor puede contactar al estudiante vía telefónica.
    </p>
    <p>
      Para contactar al estudiante, el tutor debe seguir los siguientes pasos:
    </p>
    <ol>
      <li>
        Pulsar la fecha de la tutoría en el calendario, la cual se encuentra resaltada de
        color azul. Una vez se realice esta acción, debajo del calendario, se mostrará un
        listado de las tutorías agendadas para esa fecha.
      </li>
      <li>
        Pulsa la opción del listado que corresponda a la tutoría que desea ver.
      </li>
      <li>
        A continuación, se mostrará una pantalla con toda la información referente a la
        tutoría.
      </li>
      <li>
        Pulsar la opción que dice: “Contactar estudiante”, la cual marcará al número
        telefónico del estudiante
      </li>
    </ol>
  </app-tutorial-item>
</app-background>
