<app-background>
  <app-tutorial-item [title]="'Registro de padres'" [link]="videoUrl">
    <p>
      Para la creación de una cuenta de padre, debe existir un estudiante que haya
      solicitado su registro y para ello haya dado el correo del padre en cuestión. Una
      vez esto haya ocurrido, el padre recibirá un email solicitando que cree su cuenta
      para dar autorización al menor. Para crear cuenta y autorizar al menor a crear su
      cuenta, realizar los siguientes pasos:
    </p>
    <ol>
      <li>
        Abrir correo electrónico.
      </li>
      <li>
        Abrir email recibido de eTutor.
      </li>
      <li>
        Pulsar opción “Continuar Registro”.
      </li>
      <li>
        Completar formulario.
      </li>
      <li>
        Pulsar opción de Registrarse y autorizar hijo (mas adelante, puede descargar
        la aplicación móvil y acceder con las mismas credenciales).
      </li>
    </ol>
  </app-tutorial-item>
</app-background>
