<app-background>
  <app-tutorial-item [title]="'Modificar perfil'" [link]="videoUrl">
    <p>
      Cada usuario de eTutor cuenta con un perfil que contiene los siguientes datos:
    </p>
    <ul>
      <li>Foto de perfil</li>
      <li>Número telefónico</li>
      <li>Descripción breve del usuario</li>
    </ul>
    <p>
      Para modificar uno o más de los elementos en el listado anterior, es necesario seguir los
      siguientes pasos:
    </p>
    <ol>
      <li>
        Inicia sesión en tu cuenta
      </li>
      <li>
        Pulsa la foto de perfil de tu usuario, la cual se encuentra en la parte izquierda
        superior de la pantalla.
      </li>
      <li>
        Selecciona la opción “Ver Perfil”
      </li>
    </ol>
    <p>
      A continuación, se desplegará en pantalla la página del perfil del usuario, en la que podrá
    modificar cada uno de los campos.
    </p>
    <p>
      Si desea modificar la foto de perfil:
    </p>
    <ol>
      <li>Pulse la foto de perfil actual</li>
      <li>
        Se desplegará un pequeño menú preguntando si desea tomar una foto o
        seleccionar una del teléfono. Seleccione cualquiera de las dos opciones y una vez
        tenga la foto deseada, pulse aceptar.
      </li>
    </ol>
  </app-tutorial-item>
</app-background>
