<app-background>
  <app-tutorial-item [title]="'Registro de tutor'" [link]="videoUrl">
    <p>
      Para un tutor registrarse en eTutor, una vez tenga acceso a internet en el móvil
donde se encuentra la aplicación descargada e instalada, solo debe hacer lo
siguiente:
    </p>
    <ol>
      <li>
        Abrir la aplicación
      </li>
      <li>
        Pulsar la opción de “Regístrate ya”
      </li>
      <li>
        Seleccionar la opción “Tutor”
      </li>
      <li>
        4. Completar el formulario con su información personal
      </li>
      <li>
        5. Pulsar el botón “Registrarse”
      </li>
    </ol>
    <p>
      A continuación, deberá validar su correo electrónico:
    </p>
    <ol>
      <li>
        Abrir el correo con el que se registro
      </li>
      <li>
        Abrir el email que le envía etutor para validar su cuenta
      </li>
      <li>
        Pulsar opción de validar correo electrónico
      </li>
    </ol>
    <p>
      Una vez haya concluido los pasos anteriores solo le resta esperar que el equipo
eTutor se comunique con usted para pautar las evaluaciones y entrevistas
necesarias. Una vez estas hayan tenido lugar de manera exitosa, el equipo eTutor
habilitara su cuenta para que pueda empezar a ofrecer sus servicios.
    </p>
  </app-tutorial-item>
</app-background>
