<app-background>
  <app-tutorial-item [title]="'Cancelar tutoría'" [link]='videoUrl'>
    <p>
      Un estudiante puede cancelar la tutoría ya sea antes de que esta inicie o durante la
  tutoría.
    </p>
    <p>
      Para cancelar una tutoría, previo a que esta inicie, se deben seguir los siguientes pasos:
    </p>
    <ol>
      <li>
        Pulsar la fecha de la tutoría en el calendario, la cual se encuentra resaltada de color
        azul. Una vez se realice esta acción, debajo del calendario, se mostrará un listado de
        las tutorías agendadas para esa fecha.
      </li>
      <li>
        Pulsa la opción del listado que corresponda a la tutoría que desea ver.
      </li>
      <li>
        A continuación, se mostrará una pantalla con toda la información referente a la tutoría.
        Pulsar la opción “cancelar Tutoría”.
      </li>
    </ol>
    <p>
      Una vez realizados los pasos anteriores, la tutoría habrá sido cancelada y se desplegará
  la pantalla de inicio.
    </p>
    <p>
      En caso de querer cancelar la tutoría una vez que está ya inicio, realice lo siguiente:
    </p>
    <ol>
      <li>
        Abra aplicación y visualizará una pantalla que mostrará el tiempo que lleva la tutoría,
        y algunos otros datos relevantes a la misma.
      </li>
      <li>
        Deslice hacia la derecha el botón que dice “cancelar” y se encuentra en la parte
        inferior de la página.
      </li>
    </ol>
    <p>
      Una vez realizados estos pasos, la tutoría habrá sido cancelada, se calculará el monto de
      acuerdo con la duración hasta el momento y en caso de ser inferior a la tarifa mínima, se
      cobrará el monto correspondiente a la tarifa mínima, la cual es equivalente a 1 hora.
    </p>
  </app-tutorial-item>
</app-background>
