<app-background>
  <h1>Activar y desactivar cuenta de hijo</h1>
  <p>
    Para poder activar o desactivar la cuenta de un estudiante, la cuenta del estudiante debe estar asociada a su cuenta de padre, esto se logra cuando se registra el estudiante y la cuenta del padre le da la autorización de utilizar eTutor.
  </p>
  <p>
    Si cumple con lo anterior, el padre debe seguir los siguientes pasos:
  </p>

  <ol>
    <li>
      Inicia sesión.
    </li>
    <li>
      Abre el menú principal de la aplicación.
    </li>
    <li>
      Selecciona la opción “mis estudiantes”, la cual desplegará una pantalla que muestra el listado de los usuarios estudiantes asociados a la cuenta de padre que se está utilizando
    </li>
    <li>
      Pulsar el botón localizado a la derecha del usuario que contiene los datos del estudiante al que desea hacer la modificación.
    </li>
  </ol>

  <p>
    Una vez se haya pulsado el botón, el estudiante cambiará de estado. En caso de estar activo previamente, pasará a inactivo y el botón se tornara gris. En caso contrario, el estudiante pasará a ACTIVO y el botón se verá verde.
  </p>
</app-background>
