.item-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#container {
  background-color: whitesmoke;
  margin: 0 5%;
  padding: 5% 0;
  border-radius: 10px;
}
