<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <img src="../assets/images/icon.png" alt="logo" class="logo">
      <h1>Ayuda - eTutor</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzTitle="Home" nzMatchRouter >
        <a routerLink="/welcome">
          Home
        </a>
      </li>
      <li nz-submenu nzOpen nzTitle="Padres" nzIcon="book">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Tutores" nzIcon="mobile">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Estudiantes" nzIcon="smile">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="content-layout">
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer class="main-footer">
      ¿Tienes alguna pregunta? Contáctanos en nuestras redes! <i nz-icon nzType="facebook" nzTheme="fill" style="color: blue;"></i>
    </nz-footer>
  </nz-layout>
</nz-layout>
