<app-background>
  <div id="container" class="row">
    <div id="video" class="col-md-6 col-sm-12">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/6HXUMg74nRA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div id="tutorial-text" class="col-md-6 col-sm-12">
      <h1>Agendar tutoría</h1>
      <p>Todo estudiante que tenga una cuenta activa puede agendar una tutoría. Para realizar
        esta acción, sólo debe seguir los siguientes pasos:</p>
      <ol>
        <li>Iniciar sesión en la aplicación.</li>
        <li>Abrir el menú principal.</li>
        <li>Seleccionar “Agendar Tutoría”.</li>
        <li>Selecciona la materia para la que desea agendar la tutoría</li>
        <li>Introduzca la fecha, y las horas de inicio y fin estimadas para la tutoría.</li>
        <li>Elija el tutor de su preferencia.</li>
        <li>Verifique los datos de su tutoría.</li>
        <li>Presione “Agendar”.</li>
      </ol>
      <p>
        Al realizar estos pasos el sistema procederá a enviar una solicitud de autorización al
        padre, para que se pueda agendar la tutoría. una vez la tutoría sea agendada el sistema
        notificará al estudiante.
      </p>
    </div>
  </div>




</app-background>
