<app-background>
  <app-tutorial-item [title]="'Autorizar tutoría'" [link]="videoUrl">
    <p>
      Cuando un estudiante desea agendar una tutoría desde su cuenta, el padre es notificado y se le solicita la autorización para continuar con el proceso de agendar la tutoría.
    </p>
    <p>
      Para Autorizar o rechazar la solicitud de agenda de tutoría, existen dos maneras:
    </p>

    <ol>
      <li>
        Pulsar la notificación que llega al teléfono móvil en el que el padre tiene abierta la cuenta de eTutor. Esta acción abrirá la aplicación en la pantalla donde aparecerán las opciones “Aceptar” o “Rechazar”. Si desea dar la autorización, pulse la opción “Aceptar” la cual permitirá que continúe el proceso de agendar la tutoría. En caso contrario, pulse la opción “Rechazar”, la cual eliminará la solicitud y notificará al estudiante que su solicitud no fue aprobada por el padre.
      </li>
      <li>
        En caso de no utilizar la notificación, puede entrar a la aplicación, abrir el menú y seleccionar la opción de “Solicitudes pendientes”
      </li>
    </ol>
    <p>
      A continuación encontrará un listado de las solicitudes que hayan sido realizadas por los estudiantes asociados a su cuenta y que aún no han sido respondidas.
    </p>
    <p>
      Seleccionar la solicitud que desea aprobar o desaprobar y esta acción la llevará a la pantalla donde tendrá ambas opciones a la vista.
    </p>
  </app-tutorial-item>
</app-background>
