<app-background>
  <h1>Terminar tutoría</h1>
  <p>
    Una vez iniciada la tutoría, el tutor es quien la debe finalizar una vez haya concluido la
misma. Para realizar esta acción el tutor debe hacer lo siguiente:
  </p>
  <ol>
    <li>
      Abrir la aplicación. Una vez haga esta acción se desplegará en pantalla la página
      correspondiente a la tutoría en curso.
    </li>
    <li>
      Deslizar hacia la derecha el botón de “terminar tutoría”.
    </li>
  </ol>
  <p>
    Una vez esto ocurra, la tutoría se marcará concluida, se calculará el monto
correspondiente a la misma y se mostrará en el historial. Además, se le notificará tanto al
padre como al estudiante de que su tutoría ha finalizado.
  </p>
</app-background>
