.item {
  border-radius: 3px;
  background-color: rgba(0,0,0,.50);
  width: 200px;
  min-height: 100px;
  padding: 10px;
  font-size: large;
  color: rgba(255,255,255,0.85);
}

.center {
  text-align: center;
}

.icon-img {
  margin: 20px;
}

.item:hover {
  background-color: rgba(0,0,0,.85);
  color: rgba(255,255,255,1);
}
